<a href="https://colab.research.google.com/github/rossialana/MovieLens_recomendations/blob/main/MovieLens_Recomendacoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importando bibliotecas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Conectando ao drive

from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [4]:
# Importando dados dos filmes

filmes = pd.read_csv('/content/drive/MyDrive/ml-latest-small/movies.csv')
filmes.columns = ["FilmeId", "Titulo", "Genero"]
filmes.head()

,FilmeId,Titulo,Genero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
# Setando Ã­ndice como FilmeId

filmes = filmes.set_index("FilmeId")

In [6]:
filmes.head()

,Titulo,Genero
FilmeId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [7]:
# DescriÃ§Ã£o das informaÃ§Ãµes

filmes.describe()

             Titulo Genero
count          9742   9742
unique         9737    951
top     Emma (1996)  Drama
freq              2   1053

In [8]:
filmes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9742 entries, 1 to 193609
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Titulo  9742 non-null   object
 1   Genero  9742 non-null   object
dtypes: object(2)
memory usage: 228.3+ KB

In [9]:
# Importando dados das notas

notas = pd.read_csv('/content/drive/MyDrive/ml-latest-small/ratings.csv')
notas.drop("timestamp", axis = 1, inplace = True)
notas.columns = ["UsuarioId", "FilmeId", "Nota"]

notas.head()

   UsuarioId  FilmeId  Nota
0          1        1   4.0
1          1        3   4.0
2          1        6   4.0
3          1       47   5.0
4          1       50   5.0

In [10]:
# Criando coluna com a mÃ©dias das notas por filme

nota_media = notas.groupby('FilmeId').mean()[['Nota']]
filmes['Nota_media'] = nota_media
filmes.head()

,Titulo,Genero,Nota_media
FilmeId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
2,Jumanji (1995),Adventure|Children|Fantasy,3.431818
3,Grumpier Old Men (1995),Comedy|Romance,3.259615
4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
5,Father of the Bride Part II (1995),Comedy,3.071429

In [11]:
# Criando coluna com o total de votos por filme

total_votos = notas["FilmeId"].value_counts()
filmes['Total_votos'] = total_votos
filmes.head()

,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,215.0
2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,110.0
3,Grumpier Old Men (1995),Comedy|Romance,3.259615,52.0
4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143,7.0
5,Father of the Bride Part II (1995),Comedy,3.071429,49.0

In [12]:
# Ordenando pelos filmes mais votados

filmes.sort_values("Total_votos", ascending = False).head(10)

,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War,4.164134,329.0
318,"Shawshank Redemption, The (1994)",Crime|Drama,4.429022,317.0
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.197068,307.0
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,4.161290,279.0
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.192446,278.0
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.231076,251.0
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,3.750000,238.0
110,Braveheart (1995),Action|Drama|War,4.031646,237.0
589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,3.970982,224.0
527,Schindler's List (1993),Drama|War,4.225000,220.0

In [13]:
notas.head()

   UsuarioId  FilmeId  Nota
0          1        1   4.0
1          1        3   4.0
2          1        6   4.0
3          1       47   5.0
4          1       50   5.0

In [14]:
# Filtrando notas por usuÃ¡rio

notas.query("UsuarioId == 1").set_index("FilmeId").drop("UsuarioId", axis = 1)

         Nota
FilmeId
1         4.0
3         4.0
6         4.0
47        5.0
50        5.0
...       ...
3744      4.0
3793      5.0
3809      4.0
4006      4.0
5060      5.0

[232 rows x 1 columns]

In [15]:
# Crindo funÃ§Ã£o de notas por UsuarioId

def notas_do_usuario(UsuarioId):
  notas_do_usuario = notas.query("UsuarioId == %d" % UsuarioId).drop("UsuarioId", axis = 1)
  notas_do_usuario = notas_do_usuario.set_index("FilmeId")
  return notas_do_usuario

In [16]:
notas_do_usuario(1).head()

         Nota
FilmeId
1         4.0
3         4.0
6         4.0
47        5.0
50        5.0

In [17]:
# Calculando a distÃ¢ncia entre dois usuÃ¡rios

distancia = notas_do_usuario(1).join(notas_do_usuario(4), lsuffix= "_esquerda", rsuffix= "_direita").dropna()
distancia.head()

         Nota_esquerda  Nota_direita
FilmeId
47                 5.0           2.0
235                4.0           2.0
260                5.0           5.0
296                3.0           1.0
441                4.0           1.0

In [18]:
# FunÃ§Ã£o algÃ©brica da distÃ¢ncia entre dois vetores

def distancia_vetores(a,b):
  return np.linalg.norm(a - b)

In [19]:
def distancia_usuarios(user1, user2):
  nota_1 = notas_do_usuario(user1)
  nota_2 = notas_do_usuario(user2)
  distancia_notas = nota_1.join(nota_2, lsuffix= "_esquerda", rsuffix= "_direita").dropna()
  return user1, user2, distancia_vetores(distancia_notas['Nota_esquerda'], distancia_notas['Nota_direita'])

In [20]:
distancia_usuarios(1, 4)

(1, 4, 11.135528725660043)

#DistÃ¢ncia entre todos os usuÃ¡rios

In [21]:
notas.head()

   UsuarioId  FilmeId  Nota
0          1        1   4.0
1          1        3   4.0
2          1        6   4.0
3          1       47   5.0
4          1       50   5.0

In [22]:
# Quantidade de usuÃ¡rios

len(notas["UsuarioId"].unique())

610

In [23]:
# Criando funÃ§Ã£o para cÃ¡lculo da distÃ¢ncia entre voce_id e todos os outros

def distancia_todos_usuarios(voce_id):
  todos_os_usuarios = notas['UsuarioId'].unique()
  distancia = [distancia_usuarios(voce_id, UsuarioId) for UsuarioId in todos_os_usuarios]
  distancia = pd.DataFrame(distancia, columns = ["voce_id", "outra_pessoa", "distancia"]).set_index("outra_pessoa").drop(columns = 'voce_id')
  return distancia

In [24]:
distancia_todos_usuarios(4).head()

              distancia
outra_pessoa
1             11.135529
2              3.500000
3              4.500000
4              0.000000
5              6.324555

## Colocando distante usuÃ¡rios que nÃ£o tÃªm nada em comum

In [25]:
# Existem distÃ¢ncias zeradas devido Ã  ausÃªncia total de similaridade dos tÃ­tulos assistidos

distancia_todos_usuarios(10).sort_values("distancia", ascending = True)

              distancia
outra_pessoa
451            0.000000
337            0.000000
87             0.000000
158            0.000000
151            0.000000
...                 ...
448           14.008926
249           14.195070
62            14.482748
414           15.588457
298           17.578396

[610 rows x 1 columns]

In [26]:
# ConferÃªncia das notas entre dois usuÃ¡rios os quais tem distÃ¢ncia zerada

notas_do_usuario(10).join(notas_do_usuario(337), lsuffix = '_10', rsuffix = '451').dropna()

Empty DataFrame
Columns: [Nota_10, Nota451]
Index: []

In [27]:
# Programando a distÃ¢ncia dos usuÃ¡rios com a condiÃ§Ã£o de distancia minima para aparecer como 100000

def distancia_usuarios(user1, user2, minimo = 5):
  nota_1 = notas_do_usuario(user1)
  nota_2 = notas_do_usuario(user2)
  distancia_notas = nota_1.join(nota_2, lsuffix= "_esquerda", rsuffix= "_direita").dropna()

  if(len(distancia_notas) < minimo):
    return[user1, user2, 100000]

  distancia = distancia_vetores(distancia_notas['Nota_esquerda'], distancia_notas['Nota_direita'])
  return [user1, user2, distancia]

In [28]:
distancia_usuarios(1,2)

[1, 2, 100000]

In [29]:
# DistÃ¢ncia do voce_id de todos os outros usuÃ¡rios
# PorÃ©m agora com mÃ­nimo de 5 filmes em comum

def distancia_todos_usuarios(voce_id, numero_de_usuarios_a_analisar = None):
  todos_os_usuarios = notas['UsuarioId'].unique()
  if numero_de_usuarios_a_analisar:
    todos_os_usuarios = todos_os_usuarios[:numero_de_usuarios_a_analisar]
  distancia = [distancia_usuarios(voce_id, Usuario_id) for Usuario_id in todos_os_usuarios]
  distancia = pd.DataFrame(distancia, columns = ["voce", "outra_pessoa", "distancia"]).sort_values('distancia')
  distancia = distancia.drop(columns = 'voce').set_index('outra_pessoa')
  distancia = distancia.drop(index=voce_id)
  return distancia

In [30]:
distancia_todos_usuarios(10)

                  distancia
outra_pessoa
185                1.500000
75                 1.936492
538                2.000000
472                2.061553
88                 2.345208
...                     ...
207           100000.000000
206           100000.000000
436           100000.000000
422           100000.000000
170           100000.000000

[609 rows x 1 columns]

In [31]:
# 267 usuÃ¡rios nÃ£o possuÃ­am o mÃ­nimo de filmes em comum para anÃ¡lise

len(distancia_todos_usuarios(10).query('distancia >= 100000'))

267

# Filtrando N usuÃ¡rios mais prÃ³ximos

In [32]:
# Retornando None (ao invÃ©s de 100000) para usuÃ¡rios com quantidade de filmes em comum menor que o mÃ­nimo

def distancia_usuarios(user1, user2, minimo = 5):
  nota_1 = notas_do_usuario(user1)
  nota_2 = notas_do_usuario(user2)
  distancia_notas = nota_1.join(nota_2, lsuffix= "_esquerda", rsuffix= "_direita").dropna()

  if(len(distancia_notas) < minimo):
    return None

  distancia = distancia_vetores(distancia_notas['Nota_esquerda'], distancia_notas['Nota_direita'])
  return [user1, user2, distancia]

In [33]:
# Acrescentando filtro para retirar da tabela os valores None

def distancia_todos_usuarios(voce_id, numero_de_usuarios_a_analisar = None):
  todos_os_usuarios = notas['UsuarioId'].unique()
  if numero_de_usuarios_a_analisar:
    todos_os_usuarios = todos_os_usuarios[:numero_de_usuarios_a_analisar]
  distancia = [distancia_usuarios(voce_id, Usuario_id) for Usuario_id in todos_os_usuarios]
  distancia = list(filter(None, distancia))
  distancia = pd.DataFrame(distancia, columns = ["voce", "outra_pessoa", "distancia"])
  return distancia

In [34]:
# Definindo usuÃ¡rios mais prÃ³ximos com amostra do df

def mais_proximos_de(voce_id, numero_de_usuarios_a_analisar = None):
  distancia = distancia_todos_usuarios(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancia = distancia.sort_values('distancia')
  distancia = distancia.set_index('outra_pessoa').drop(columns = "voce")
  distancia = distancia.drop(index=voce_id)
  return distancia

In [35]:
# UsuÃ¡rios mais prÃ³ximos em amostra atÃ© UsuarioId == 50

mais_proximos_de(12, numero_de_usuarios_a_analisar= 50)

              distancia
outra_pessoa
10             2.500000
45             3.162278
6              3.427827
42             3.464102
33             3.500000
21             4.062019
4              4.123106
19             7.937254

# Montando as recomendaÃ§Ãµes

In [36]:
def mais_proximos_de(voce_id, numero_de_usuarios_a_analisar = None):
  distancia = distancia_todos_usuarios(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancia = distancia.sort_values('distancia')
  distancia = distancia.set_index('outra_pessoa').drop(columns = "voce")
  distancia = distancia.drop(index=voce_id)
  return distancia

In [37]:
mais_proximos_de(1, numero_de_usuarios_a_analisar= 50).head()

              distancia
outra_pessoa
49             1.000000
9              1.000000
25             1.414214
13             1.414214
30             1.802776

In [38]:
# Definindo parÃ¢metro de recomendaÃ§Ã£o pelo PRIMEIRO usuÃ¡rio mais prÃ³ximo

def sugestoes_para(voce_id, numero_de_usuarios_a_analisar = None):
  notas_voce = notas_do_usuario(voce_id)
  filmes_assistidos = notas_voce.index

  similares = mais_proximos_de(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  similar = similares.iloc[0].name #pegando o usuario mais similar pelo UsuarioId
  notas_do_similar = notas_do_usuario(similar).drop(filmes_assistidos, errors = 'ignore')
  recomendacoes = notas_do_similar.sort_values('Nota', ascending = False)

  return recomendacoes.join(filmes)

In [39]:
# SugestÃµes do PRIMEIRO usuÃ¡rio
# Considerando os 50 primeiros usuÃ¡rios

sugestoes_para(1, numero_de_usuarios_a_analisar = 50)

,Nota,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,,
1200,4.5,Aliens (1986),Action|Adventure|Horror|Sci-Fi,3.964286,126.0
4022,4.5,Cast Away (2000),Drama,3.700000,100.0
47099,4.5,"Pursuit of Happyness, The (2006)",Drama,3.793478,46.0
79132,4.5,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,4.066434,143.0
109487,4.5,Interstellar (2014),Sci-Fi|IMAX,3.993151,73.0
139385,4.5,The Revenant (2015),Adventure|Drama,3.903226,31.0
168252,4.5,Logan (2017),Action|Sci-Fi,4.280000,25.0
318,4.0,"Shawshank Redemption, The (1994)",Crime|Drama,4.429022,317.0
5218,4.0,Ice Age (2002),Adventure|Animation|Children|Comedy,3.688235,85.0
6377,4.0,Finding Nemo (2003),Adventure|Animation|Children|Comedy,3.960993,141.0
70286,4.0,District 9 (2009),Mystery|Sci-Fi|Thriller,3.776923,65.0
79091,4.0,Despicable Me (2010),Animation|Children|Comedy|Crime,3.684211,38.0
103335,4.0,Despicable Me 2 (2013),Animation|Children|Comedy|IMAX,3.578947,19.0
122920,4.0,Captain America: Civil War (2016),Action|Sci-Fi|Thriller,3.613636,22.0

In [40]:
# SugestÃµes do PRIMEIRO usuÃ¡rio
# Considerando a base total de usuÃ¡rios

sugestoes_para(1).head()

,Nota,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,,
8636,5.0,Spider-Man 2 (2004),Action|Adventure|Sci-Fi|IMAX,3.803797,79.0
58559,5.0,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,4.238255,149.0
33794,5.0,Batman Begins (2005),Action|Crime|IMAX,3.862069,116.0
4993,5.0,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,4.106061,198.0
5349,5.0,Spider-Man (2002),Action|Adventure|Sci-Fi|Thriller,3.540984,122.0

# Sugerindo com base em mÃºltiplos usuÃ¡rios

In [41]:
# Definindo quantos usuÃ¡rios mais prÃ³ximos serÃ£o selecionados

def mais_proximos_de(voce_id, n_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  distancia = distancia_todos_usuarios(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancia = distancia.sort_values('distancia')
  distancia = distancia.set_index('outra_pessoa').drop(columns = 'voce')
  distancia = distancia.drop(index=voce_id)
  return distancia.head(n_mais_proximos)

In [42]:
mais_proximos_de(1, numero_de_usuarios_a_analisar = 30)

              distancia
outra_pessoa
9              1.000000
25             1.414214
13             1.414214
30             1.802776
26             2.236068
8              3.741657
5              3.741657
11             4.242641
24             4.415880
29             4.555217

In [43]:
mais_proximos_de(1, numero_de_usuarios_a_analisar = 300)

              distancia
outra_pessoa
77             0.000000
258            1.000000
49             1.000000
9              1.000000
65             1.322876
162            1.414214
90             1.414214
25             1.414214
13             1.414214
300            1.500000

In [62]:
def media_notas_mais_proximos(voce_id, n_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  similares = mais_proximos_de(voce_id, n_mais_proximos = n_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("UsuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("FilmeId").mean()[["Nota"]] # Feito a mÃ©dia das notas dadas pelos usuÃ¡rios mais prÃ³ximos
  recomendacoes = recomendacoes.sort_values("Nota", ascending=False)
  return recomendacoes.join(filmes)

In [63]:
media_notas_mais_proximos(1, n_mais_proximos=10, numero_de_usuarios_a_analisar= 50)

,Nota,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,,
1639,5.00,Chasing Amy (1997),Comedy|Drama|Romance,3.576923,52.0
47,5.00,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,3.975369,203.0
293,5.00,LÃ©on: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller,4.018797,133.0
33679,5.00,Mr. & Mrs. Smith (2005),Action|Adventure|Comedy|Romance,3.279661,59.0
49272,5.00,Casino Royale (2006),Action|Adventure|Thriller,3.944444,81.0
...,...,...,...,...,...
788,1.50,"Nutty Professor, The (1996)",Comedy|Fantasy|Romance|Sci-Fi,2.731707,82.0
223,1.50,Clerks (1994),Comedy,3.855769,104.0
357,1.25,Four Weddings and a Funeral (1994),Comedy|Romance,3.519417,103.0
1544,1.00,"Lost World: Jurassic Park, The (1997)",Action|Adventure|Sci-Fi|Thriller,2.753731,67.0
673,1.00,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...,2.707547,53.0

In [64]:
media_notas_mais_proximos(1, n_mais_proximos= 20, numero_de_usuarios_a_analisar= 50)

,Nota,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,,
1639,5.000000,Chasing Amy (1997),Comedy|Drama|Romance,3.576923,52.0
71535,5.000000,Zombieland (2009),Action|Comedy|Horror,3.877358,53.0
158,5.000000,Casper (1995),Adventure|Children,2.806452,62.0
4979,5.000000,"Royal Tenenbaums, The (2001)",Comedy|Drama,3.683824,68.0
2355,5.000000,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,3.516304,92.0
...,...,...,...,...,...
8360,2.000000,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Ro...,3.576087,92.0
357,1.833333,Four Weddings and a Funeral (1994),Comedy|Romance,3.519417,103.0
54503,1.500000,Superbad (2007),Comedy,3.863636,55.0
673,1.000000,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...,2.707547,53.0
1544,1.000000,"Lost World: Jurassic Park, The (1997)",Action|Adventure|Sci-Fi|Thriller,2.753731,67.0

In [67]:
# A mudanÃ§a na sugestÃ£o de filmes se dÃ¡ pelo fato de que no grupo com mais pessoas existem pessoas mais similares ao voce_id

media_notas_mais_proximos(1, numero_de_usuarios_a_analisar= 50).head()

,Nota,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,,
1639,5.0,Chasing Amy (1997),Comedy|Drama|Romance,3.576923,52.0
47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,3.975369,203.0
293,5.0,LÃ©on: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller,4.018797,133.0
33679,5.0,Mr. & Mrs. Smith (2005),Action|Adventure|Comedy|Romance,3.279661,59.0
49272,5.0,Casino Royale (2006),Action|Adventure|Thriller,3.944444,81.0

In [68]:
# Podemos observar que existem sugestÃµes "melhores" quando incluimos 200 pessoas na anÃ¡lise

media_notas_mais_proximos(1, numero_de_usuarios_a_analisar= 200).head()

,Nota,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,,
1584,5.0,Contact (1997),Drama|Sci-Fi,3.652439,82.0
750,5.0,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,4.268041,97.0
457,5.0,"Fugitive, The (1993)",Thriller,3.992105,190.0
5418,5.0,"Bourne Identity, The (2002)",Action|Mystery|Thriller,3.816964,112.0
34405,5.0,Serenity (2005),Action|Adventure|Sci-Fi,3.940000,50.0

# Testando um novo usuÃ¡rio

In [69]:
filmes.loc[[122904, 1246, 2529, 2329 , 2324 , 1 , 7 , 2 ,1196, 260]]

,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,
122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,3.833333,54.0
1246,Dead Poets Society (1989),Drama,3.959302,86.0
2529,Planet of the Apes (1968),Action|Drama|Sci-Fi,3.803571,56.0
2329,American History X (1998),Crime|Drama,4.217054,129.0
2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War,4.147727,88.0
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,215.0
7,Sabrina (1995),Comedy|Romance,3.185185,54.0
2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,110.0
1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,4.215640,211.0
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.231076,251.0

In [71]:
notas.head()

   FilmeId  UsuarioId  Nota
0        1          1   4.0
1        1          5   4.0
2        1          7   4.5
3        1         15   2.5
4        1         17   4.5

In [73]:
# Criando funÃ§Ã£o para criaÃ§Ã£o de novo usuÃ¡rio

def novo_usuario(dados):
  novo_usuario = notas['UsuarioId'].max()+1
  notas_do_novo_usuario = pd.DataFrame(dados, columns = ['FilmeId', 'Nota'])
  notas_do_novo_usuario['UsuarioId'] = novo_usuario
  return pd.concat([notas, notas_do_novo_usuario])

In [75]:
notas = novo_usuario([[122904,2], [1246,5],[2529,2],[2329,5],[2324,5],[1,2],[7,0.5],[2,2],[1196,1],[260,1]])
notas.tail()

   FilmeId  UsuarioId  Nota
5        1        611   2.0
6        7        611   0.5
7        2        611   2.0
8     1196        611   1.0
9      260        611   1.0

In [77]:
media_notas_mais_proximos(611).head()

,Nota,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,,
112852,5.000000,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,4.050847,59.0
74458,4.750000,Shutter Island (2010),Drama|Mystery|Thriller,4.022388,67.0
71535,4.666667,Zombieland (2009),Action|Comedy|Horror,3.877358,53.0
78499,4.500000,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,4.109091,55.0
2804,4.500000,"Christmas Story, A (1983)",Children|Comedy,3.972727,55.0

# Utilizar somente notas com mais de 50 votos

In [52]:
filmes_com_mais_de_50_votos = filmes.query("Total_votos >= 50")
filmes_com_mais_de_50_votos.sort_values("Total_votos", ascending = False).head()

,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War,4.164134,329.0
318,"Shawshank Redemption, The (1994)",Crime|Drama,4.429022,317.0
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.197068,307.0
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,4.161290,279.0
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.192446,278.0

In [78]:
notas_com_mais_50_votos = notas.set_index("FilmeId").loc[filmes_com_mais_de_50_votos.index]
notas_com_mais_50_votos.head()

         UsuarioId  Nota
FilmeId
1                1   4.0
1                5   4.0
1                7   4.5
1               15   2.5
1               17   4.5

In [84]:
notas_com_mais_50_votos = notas_com_mais_50_votos.reset_index()

In [85]:
def media_notas_mais_proximos(voce_id, n_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  similares = mais_proximos_de(voce_id, n_mais_proximos = n_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas_com_mais_50_votos.set_index("UsuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("FilmeId").mean()[["Nota"]] # Feito a mÃ©dia das notas dadas pelos usuÃ¡rios mais prÃ³ximos
  recomendacoes = recomendacoes.sort_values("Nota", ascending=False)
  return recomendacoes.join(filmes)

In [87]:
media_notas_mais_proximos(10).sort_values('Total_votos', ascending = False)

,Nota,Titulo,Genero,Nota_media,Total_votos
FilmeId,,,,,
356,4.166667,Forrest Gump (1994),Comedy|Drama|Romance|War,4.164134,329.0
318,4.600000,"Shawshank Redemption, The (1994)",Crime|Drama,4.429022,317.0
296,2.000000,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.197068,307.0
593,2.750000,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,4.161290,279.0
2571,1.000000,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.192446,278.0
...,...,...,...,...,...
145,3.500000,Bad Boys (1995),Action|Comedy|Crime|Drama|Thriller,3.245098,51.0
34405,4.000000,Serenity (2005),Action|Adventure|Sci-Fi,3.940000,50.0
88125,4.250000,Harry Potter and the Deathly Hallows: Part 2 (...,Action|Adventure|Drama|Fantasy|Mystery|IMAX,3.910000,50.0
116797,4.500000,The Imitation Game (2014),Drama|Thriller|War,4.020000,50.0
2105,3.500000,Tron (1982),Action|Adventure|Sci-Fi,3.340000,50.0

# Filtro mÃ­nimo de filmes em comum assistidos pelos usuÃ¡rios mais prÃ³ximos

In [118]:
# RecomendaÃ§Ã£o final

def sugere_para(voce_id, n_mais_proximos = 10, numero_de_usuarios_a_analisar = None): #Selecionamos a amostra
  notas_de_voce = notas_do_usuario(voce_id)
  filmes_que_voce_ja_viu = notas_de_voce.index # Listamos os filmes jÃ¡ assistidos

  similares = mais_proximos_de(voce_id, n_mais_proximos = n_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index # Listamos usuÃ¡rios similares
  notas_dos_similares = notas_com_mais_50_votos.set_index("UsuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("FilmeId").mean()[["Nota"]]
  views = notas_dos_similares.groupby("FilmeId").count()[['Nota']]
  
  filtro_minimo = n_mais_proximos / 2 # Pelo menos 50% dos usuÃ¡rios devem ter assistido aos filmes recomendados
  recomendacoes = recomendacoes.join(views, lsuffix="_media_dos_usuarios", rsuffix="_quantidade_de_views")
  recomendacoes = recomendacoes.query("Nota_quantidade_de_views >= %.2f" % filtro_minimo) # Filmes vistos por mais de 50% dos 'mais prÃ³ximos'
  recomendacoes = recomendacoes.sort_values("Nota_quantidade_de_views", ascending=False)
  recomendacoes = recomendacoes.drop(filmes_que_voce_ja_viu,errors='ignore') # Retiramos os filmes jÃ¡ assistidos
  recomendacoes = recomendacoes.join(filmes)
  recomendacoes = recomendacoes.drop(columns = ['Nota_media','Nota_quantidade_de_views','Total_votos'])
  return recomendacoes

In [137]:
def mais_proximos_de(voce_id, n_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancia = distancia_todos_usuarios(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancia = distancia.sort_values("distancia")
  distancia = distancia.set_index("outra_pessoa").drop(voce_id, errors='ignore')
  distancia = distancia.drop(columns = 'voce')
  return distancia.head(n_mais_proximos)

In [138]:
sugere_para(1)

,Nota_media_dos_usuarios,Titulo,Genero
FilmeId,,,
318,4.583333,"Shawshank Redemption, The (1994)",Crime|Drama
4993,4.666667,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
79132,4.250000,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
109487,4.583333,Interstellar (2014),Sci-Fi|IMAX
7153,4.700000,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
58559,4.700000,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX

## Dessa maneira foi possÃ­vel fazer sugestÃµes com um maior nÃ­vel de confianÃ§a com base nos gostos dos usuÃ¡rios com preferÃªncias similares